div.main-content
    table(data-bind='with: accountsData')
        thead
            tr
                th Account
                th Amount
                th Pending
        tbody(data-bind='foreach: data')
            tr
                td(data-bind='text: Name, css: TextColor')
                td.tableCellNumber(data-bind='text: formatCurrency(AccountSum)')
                td.tableCellNumber(data-bind='text: formatCurrency(AccountPending)')
        tfoot
            tr
                th Total
                th 111.11
                th 222.222
            tr
                th Grand Total
                th(colspan='2') 333.33