.secondary-content
    table(data-bind='with: transactionData')
        thead
            tr
                th Date
                th Name
                th Amount
                th Pending
                th &nbsp;
        tbody(data-bind='foreach: data')
            tr(data-bind='css: EnvelopeColor')
                td(data-bind='html: formatDate(PostedDate)')
                td(data-bind='text: Name')
                td(data-bind='html: formatCurrencyNoZeros(Amount)')
                td(data-bind='html: formatCurrencyNoZeros(Pending)')
                td Actions