.secondary-one
    div(data-bind='with: accountSumData')
        div.clearfix
            label.formLeftCol
                span(data-bind='text: accountName')
                |  Balance
            div.formRightCol(data-bind='text: formatCurrency(totalAmount)')
        div.clearfix
            label.formLeftCol
                span(data-bind='text: accountName')
                |  Pending
            div.formRightCol(data-bind='text: formatCurrency(totalPending)')
        div.clearfix
            label.formLeftCol
                span(data-bind='text: accountName')
                |  Grand Total
            div.formRightCol(data-bind='text: formatCurrency(totalGrand)')
        div.clearfix
            label.formLeftCol(for='txtAccountWebsite')
                span(data-bind='text: accountName')
                |  From Website
            input#txtAccountWebsite.formRightCol(type='number', data-bind='value: formatCurrency(fromWebsite)', autofocus, required)
        div.clearfix
            label.formLeftCol
                span(data-bind='text: accountName')
                |  Difference
            div.formRightCol(data-bind='text: formatCurrency(difference)')