doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/phone.css')
        link(rel='stylesheet', href='/stylesheets/tablet.css')
        link(rel='stylesheet', href='/stylesheets/medium.css')
        link(rel='stylesheet', href='/stylesheets/wide.css')
        link(rel='stylesheet', href='/stylesheets/colors.css')
        script(data-main='javascripts/app', type='text/javascript', src='javascripts/lib/require.js')
    body
        #page-wrap
            #headerBar
                div.clearfix
                    div(style='width: 150px; float: left;')
                        a(href='/') Home
                        if user
                            a.spacedOut(href='#logout') logout
                    #authUserGreeting(style='text-align: right; width: 150px; float: right;')
                        if user
                            span='hello, ' + user.displayName
                div.clearfix
                        include header
            #mainContainer
                block content
