doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/phone.css')
        link(rel='stylesheet', href='/stylesheets/tablet.css')
        link(rel='stylesheet', href='/stylesheets/medium.css')
        link(rel='stylesheet', href='/stylesheets/wide.css')
        link(rel='stylesheet', href='/stylesheets/colors.css')
        script(type='text/javascript', src='/javascripts/jquery-2.2.3.min.js')
        script(type='text/javascript', src='/javascripts/knockout-3.4.0.js')
        script(type='text/javascript', src='/javascripts/sammy.min.js')
        script(type='text/javascript', src='/javascripts/main.js')
    body
            div.clearfix
                div(style='width: 100px; float: left;')
                    a(href='#') Home
                div(style='text-align: right; width: 100px; float: right;').
                    hello, Calvin.
            block content
