@media screen and (max-width: 600px) {
    body {
        background: #333;
        font-size: large;
    }

    #page-wrap {
        width: 550px;
    }

    .main-content-full {
        display: none;
    }

    .main-content-fullHidden {
    }
}